
<div style="width: 18rem;" class="mt-5">
    <img [src]="produit.image" class="img-fluid img-responsive align-self-center" [alt]="produit.nom">
    <h4 class="my-2" [style.color]="produit.couleur">{{produit.nom}} {{produit.couleur}}</h4>
    <div class="row">
        <p>Prix : <span  *ngIf="produit.prix;else na">{{produit.prix | currency : "EUR" : 'symbol' }} </span></p>
    </div>
    <a [routerLink]="['/products', produit.id]">Afficher les détails</a>
    <ng-template #na>N/A</ng-template>
</div>