<!--Start Navbar-->
<div class="container  pt-1">
    <a routerLink="/"> <button class="btn ml-1" type="button">En ce moment</button></a>
    <a routerLink="/bagues"><button class="btn ml-1" type="button">Bagues</button></a>
    <a routerLink="/gourmettes"><button class="btn ml-1" type="button">Gourmettes</button></a>
    <a routerLink="/colliers"><button class="btn ml-1" type="button">Colliers</button></a>
    <a routerLink="/users"><button class="btn ml-1" type="button">Users</button></a>
    <a routerLink="/ensembles"><button class="btn ml-1" type="button">Ensembles</button></a>
    <a routerLink="/contact"><button class="btn ml-1" type="button">Contactez nous</button></a>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn ml-1 dropdown-toggle">
                Mon compte
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" routerLink="/connexion" class="dropdown-item">Connexion</a>
                <a class="dropdown-item" routerLink="/inscription" class="dropdown-item">Inscription</a>

            </div>
        </div>

    </div>
</div>


<!--End Navbar-->