<!--Start Navbar-->
<div class="container  pt-2">
    <a routerLink="/"> <button class="btn ml-1" type="button">En ce moment</button></a>
    <a routerLink="/bagues"><button class="btn ml-1" type="button">Bagues</button></a>
    <a routerLink="/gourmettes"><button class="btn ml-1" type="button">Gourmettes</button></a>
    <a routerLink="/colliers"><button class="btn ml-1" type="button">Colliers</button></a>
    <a routerLink="/ensembles"><button class="btn ml-1" type="button">Ensembles</button></a>
    <a routerLink="/users"><button class="btn ml-1" type="button">Users</button></a>
    <a routerLink="/contact"><button class="btn ml-1" type="button">Contactez nous</button></a>
    <a routerLink="/login" class="leftbutton"><button class="btn ml-1" type="button">Connexion</button></a>
    <a routerLink="/inscription"><button class="btn ml-1" type="button">Inscription</button></a>

</div>


<!--End Navbar-->
