<h1 class="mt-5" [style.color]="produit.color">{{produit.name}}</h1>

<div class="row mt-1">
    <div class="col-1"></div>
    <div class="col-4">
        <img [src]="produit.picture" alt="Image">
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <h6 class="mt-5">{{produit.description}}</h6>
        <p> <b>Prix :</b><span class="prix">{{produit.price | currency : "EUR" : 'symbol' }}</span></p>
        <div>
            <b> Quantité :</b> <input type="number" [(ngModel)]="quantite" min="1" [defaultValue]="1">
            <button [style.background-color]="produit.color" class="btn btn-primary" (click)="ajouterPanier()">Ajouter
                au
                panier</button>
        </div>

        <a class="btn btn-outline-secondary mt-3" [routerLink]="['/products']">Retour à la
            liste des
            produits</a>
    </div>
</div>