h1 {
    text-align: center;
}

img {
    max-width: 75%;
    margin-left: 5%;
}

.prix {
    font-weight: bold;
    font-size: 1.2em;
}

button {
    margin-left: 15px;
    border: 0px;
}

h6 {
    font-family: Georgia, serif;
}

a {
    font-size: 15px;
    font-family: Georgia, serif;
    border: 0px;
}