<h1>{{produit.nom}}</h1>

<div class="row">
    <div>
        <img [src]="produit.image" alt="Image">
    </div>
    <div>
        <p>{{produit.description}}</p>
        <p>{{produit.prix | currency : "EUR" : 'symbol' }}</p>
        <div>
            Quantité : <input type="number" [(ngModel)]="quantite" min="1">
            <button class="btn btn-primary" (click)="ajouterPanier()">Ajouter au panier</button>
        </div>
        
        <a class="btn btn-secondary" [routerLink]="['/products']">Retour</a>
    </div>
</div>
