#bloc-blanc {
  position: relative;
  z-index: 10;
}
section {
  display: block;
}
.align-items-center {
  align-items: center!important;
}

.d-flex {
  display: flex!important;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.bloc-blanc p:last-of-type {
  margin-bottom: 0;
}
