<div *ngIf="panier == null">
  <div class="alert alert-warning" role="alert">
    <strong>Votre panier est vide</strong>
  </div>
</div>
<div *ngIf="panier != null">
  <h3 class="mt-2">Votre panier</h3>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom de l'article</th>
          <th scope="col">Quantité commandée</th>
          <th scope="col">Prix individuel</th>
          <th scope="col">Prix total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of panierList">
          <th scope="row">{{article.name}}</th>
          <td>{{article.quantity}}</td>
          <td>{{article.price}}</td>
          <td>{{article.price * article.quantity}}</td>
          <td><button class="btn btn-danger" (click)="supprimer(article.product)">Supprimer</button></td>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: {{total}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>