<div class="container">
  <form [FormGroup]="createProduitForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputNom" class="form-label">nom</label>
      <input type="text" class="form-control" id="exampleInputNom" aria-describedby="nomHelp">
      <error *ngIf="fb['nom'].errors?.required['required']">Le nom est requis</error>
    </div>
    <div class="mb-3">
      <label for="exampleInputPrix" class="form-label">prix</label>
      <input type="text" class="form-control" id="exampleInputPrix" value="">
        <span class="input-group-text">€</span>
      <error *ngIf="fb['prix'].errors?.required['required']">le prix</error>
    </div>

    <div class="mb-3">
      <label for="textarea" class="form-label">Description</label>
      <input type="text" class="form-control" id="textarea" aria-describedby="descriptionHelp">
      <error *ngIf="fb['description'].errors?.required['required']">la description est requise</error>
    </div>

    <div class="mb-3">
      <select id="categorie" class="form-control">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      <error *ngIf="fb['categorie'].errors?.required['required']">la categorie est requis</error>
    </div>
    <div class="mb-3">
      <label for="exampleInputQuantite" class="form-label">quantité</label>
      <input type="text" class="form-control" id="exampleInputQuantite" aria-describedby="modelYHelp">
      <error *ngIf="fb['quantite'].errors?.required['required']">le model  est requis</error>
    </div>
    <div class="mb-3">
      <label for="exampleInputColor" class="form-label">Color</label>
      <input type="text" class="form-control" id="exampleInputColor" aria-describedby="colorHelp">
      <error *ngIf="fb['color'].errors?.required['required']">le color est requis</error>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="image" class="form-control" id="image" aria-describedby="imageHelp" src="">
      <error *ngIf="fb['image'].errors?.required['required']">le picture est requis</error>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>

